<div class="patient-list">
  <div class="buttons">
    <a routerLink="/patients/new"
      ><button class="btn btn-small btn-primary">New Patient</button></a
    >
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Diagnostics</th>
        <th>Hourly Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.name | uppercase }}</td>
        <td>{{ patient.sex }}</td>
        <td>{{ patient.age | suma: 100 }}</td>
        <td>{{ patient.diagnostics }}</td>
        <td>{{ patient.hourlyRate | currency: "EUR" }}</td>
      </tr>
    </tbody>
  </table>
</div>
