<div class="patient-form">
  <form (ngSubmit)="savePatient()">
    <div class="form-group">
      <label for="input-name">Name</label>
      <input
        id="input-name"
        name="name"
        type="text"
        [(ngModel)]="patient.name"
        class="form-control"
        placeholder="Introducir nombre"
        required
        minlength="4"
        #name="ngModel"
      />
      <div *ngIf="name.invalid">
        <small style="color: red" *ngIf="name.errors?.minlength"
          >Debe tener por lo menos 4 caracteres</small
        >
        <small style="color: red" *ngIf="name.errors?.required"
          >El campo es requerido</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="input-edad">Edad</label>
      <input
        id="input-edad"
        type="number"
        name="edad"
        class="form-control"
        placeholder="Introducir edad"
        [(ngModel)]="patient.age"
        required
        max="99"
        min="0"
        #age="ngModel"
      />
      <div *ngIf="age.invalid">
        <small style="color: red" *ngIf="age.errors?.max"
          >La edad máxima son 99 años</small
        >
        <small style="color: red" *ngIf="age.errors?.min"
          >La edad mínima son 0 años</small
        >
        <small style="color: red" *ngIf="age.errors?.required"
          >El campo es requerido</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="input-sex">Sex</label>
      <select
        name="sex"
        id="input-sex"
        class="form-control"
        required
        placeholder="Introducir sexo"
        [(ngModel)]="patient.sex"
        #sex="ngModel"
      >
        <option value="F">Female</option>
        <option value="M">Male</option>
      </select>
      <div *ngIf="sex.invalid">
        <small style="color: red" *ngIf="sex.errors?.required"
          >El campo es requerido</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="input-hourly-rate">Hourly Rate</label>
      <input
        id="input-hourly-rate"
        name="hourly-rate"
        type="number"
        class="form-control"
        placeholder="Introducir Hourly Rate"
        [(ngModel)]="patient.hourlyRate"
      />
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar">
  </form>
</div>
