<div class="patient-form">
  <!-- <form> -->
  <div class="form-group">
    <label for="input-name">Name</label>
    <input
      id="input-name"
      type="text"
      [(ngModel)]="patient.name"
      class="form-control"
      placeholder="Introducir nombre"
    />
  </div>

  <div class="form-group">
    <label for="input-edad">Edad</label>
    <input
      id="input-edad"
      type="number"
      class="form-control"
      placeholder="Introducir edad"
      [(ngModel)]="patient.age"
    />
  </div>

  <div class="form-group">
    <label for="input-sex">Sex</label>
    <input
      id="input-sex"
      type="text"
      class="form-control"
      placeholder="Introducir sexo"
      [(ngModel)]="patient.sex"
    />
  </div>

  <div class="form-group">
    <label for="input-hourly-rate">Hourly Rate</label>
    <input
      id="input-hourly-rate"
      type="text"
      class="form-control"
      placeholder="Introducir Hourly Rate"
      [(ngModel)]="patient.hourlyRate"
    />
  </div>
  <!-- </form> -->
</div>
